node_modules/
dist/

# Electron binaries
electron/dist/
*.exe
*.dmg

# Ignore Electron binaries
node_modules/
node_modules/electron/
*.exe

# Logs and temporary files
*.log
*.temp
.DS_Store

# Build output
build/
out/

# Other OS-specific files
Thumbs.db
